.profile__row {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: var(--border-radius-xl);
  transition: var(--transition);
}

.profile__row:hover {
    background-color: var(--light-grey);
}

.profile__row .icon {
  font-size: 20px;
  margin-right: 15px;
}

.profile__row .side {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.profile__row p {
  color: #001633;
  text-transform: capitalize;
}

.profile__row small {
  letter-spacing: 1.5px;
  color: var(--active);
  text-transform: none;
}
