.preference .inner-page-container {
  background: #fcfcfc;
}

.preference__container {
  width: 90%;
  margin: 0 auto;
  padding: 20px 10px;
  /* border: 1px solid red; */
}

.preference__container article {
  margin: 10px 0 40px;
}

.preference__container label,
.preference__container h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
}

.preference__container label {
  margin: 5px 0;
}

.preference__container small {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--active);
}

.preference__container select {
  display: block;
  width: 100%;
  height: 49px;
  margin: 10px 0;
  padding: 12px 24px;
  border: 1px solid var(--light-grey);
  border-radius: var(--border-radius-sm);
  outline: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  cursor: pointer;
}

.preference__container select:focus {
  border-color: var(--hover-blue);
}
