.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}


.card {
    padding: 15px 20px 30px;
    border-radius: var(--border-radius-sm);
    background: var(--background-grey);
    box-shadow: var(--shadow);
    transition: all var(--transition);
    cursor: pointer;
}

.card:hover {
    transform: translateY(-3px);
    background: var(--hover-blue);
}

.card h2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
}

.card p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--black);
    margin: 30px 0 40px;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    object-fit: cover;
    padding:2px
}
