 .body-content .left input {
  border: none;
  outline: none;
  background: var(--input-bg);
  color: var(--light-grey2);
  font-weight: 600;
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
}

 .body-content .left input::placeholder,
 .body-content .left .textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-grey2);
}

.ebook-container .body-content .left .textarea {
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 90%;
  background: var(--light-grey3);
  border: none;
  outline: none;
  padding: 10px;
  color: var(--light-grey2);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.ebook-container .body-content .right .drop-content {
  position: absolute;
  right: 0;
}

.ebook-container .body-content .right .drop-content .drop_down {
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: var(--black);
  background: transparent;
  cursor: pointer;
  display: block;
  text-align: left;
  padding: 5px 10px;
  width: 100%;
  transition: all var(--transition);
}

.ebook-container .body-content .right .drop-content .drop_down:hover {
  background-color: var(--hover-blue);
}

/* media queries */

@media (max-width: 1024px) {
  .ebook-container .body-content .left .textarea {
    height: 85%;
  }
}

.left {
  width: 100%;
  margin: 10px;
  padding: 20px;
}