.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
   
}

.card {
    border-radius: var(--border-radius-sm);
    background: var(--background-grey);
    box-shadow: var(--shadow);
    transition: all var(--transition);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    /* transform: translateY(-3px);
    background: var(--hover-blue);
    background: rgb(211, 209, 209); */
}

.card .icon {
    /* font-size: 95px; */
    /* padding: 10px; */
    /* font-size: 40px; */
    /* aspect-ratio: 1/1; */

    /* border: 2px solid red; */
}

.card img {
    width: 100px;
}

.card b {
    display: block;
    text-align: center;
}

/* .card h2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
} */

/* .card p {
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: var(--black);
    margin: 30px 0 40px;
} */
/* .card img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    object-fit: cover;
    padding:2px
} */