.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    width: 100%;

    flex-direction: column;
    margin: 10px auto;
  }
}

.card {
  border-radius: var(--border-radius-sm);
  background: var(--background-grey);
  box-shadow: var(--shadow);
  transition: all var(--transition);
  cursor: pointer;

  display: table-column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.card b {
  display: block;
  text-align: center;
}

.card img {
  width: 50px;
}
.saved-draft-text {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color:var(--primary) ;
  border-radius: 5px;
}

.saved-draft-text p {
  margin: 0;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

/* styles/Home.css or a new CSS file */

/* Styles for the scrollable content */
.scrollable-content {
  overflow-y: auto; /* Enable vertical scrollbar */
  max-height: calc(100vh - 100px); /* Adjust height as needed */
  padding-right: 15px; /* Add padding to prevent content from being obscured by scrollbar */
}

/* Adjustments for the scrollbar appearance (optional) */
.scrollable-content::-webkit-scrollbar {
  width: 8px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
