.password__wrapper {
  align-items: center;
  max-width: 80%;
  background-color: var(--white);
  padding: 20px 40px;

  @media(max-width: 768px){
    max-width: 100%;
    margin: 5px;

  }
}
.button {
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(175, 171, 171, 0.02);
  padding: 10px 80px;
  margin: 5px;
  text-align: center;
  background: var(--hover-blue);
  color: antiquewhite;
}

.password__wrapper form {
  align-items: center;
  width: 50%;
  margin: 40px 0;
  /* border: 1px solid red; */
  @media(max-width: 768px){
    width: 100%;
  }
}

.password__wrapper .input__container {
  margin: 30px 0;
  @media(max-width: 768px){
    width: 100%;
  }
}

.password__wrapper label,
.password__wrapper h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
}

.password__wrapper label {
  margin: 5px 0;
}

.password__wrapper small {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--active);
}

.password__wrapper .input__wrapper {
  position: relative;
}

.password__wrapper form input {
  margin: 0;
  border: 1px solid var(--light-grey);
}

.password__wrapper .icon {
  color: var(--black);
  width: 25px;
  aspect-ratio: 1/1;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  /* top: 50%;
  right: 10px; */
}

.password__wrapper button {
  width: 50%;
  display: block;
  margin: 60px auto 0;
  
}
