.profile__container .inner-page-container {
  border: 1px solid var(--light-grey);
}

.form__container,
.heading__container {
  width: 90%;
  margin: 0 auto;
}

.heading__container {
  margin: 40px auto;
}

.form__container {
  padding: 30px 0;
}

.profile__container hr {
  height: 1px;
  background-color: var(--light-grey);
  border: none;
}

.profile__container article {
  display: flex;
  align-items: center;
  gap: 30px;
}

.profile__container aside {
  width: 50%;
  margin: 15px 0;
}

label,
.input,
textarea {
  display: block;
  width: 100%;
}

label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
}

.input,
textarea {
  height: 48px;
  margin-top: 10px;
  padding: 10px;
  outline: none;
  border: 1px solid var(--light-grey);
  border-radius: var(--border-radius-sm);
}

.input:focus,
textarea:focus {
  outline: 1px solid var(--hover-blue);
  border: none;
}

.textarea__div aside {
  width: 100%;
}

textarea {
  height: 80px;
  resize: none;
}

.textarea__div aside small {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: var(--active);
}

.form__container button {
  width: 30%;
  margin: 20px auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}