.sign__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

.sign__container .form__section {
  flex-basis: 60%;
}

.form__section__wrapper {
  width: 60%;
  margin: 0 auto;
}

.form__section h5 {
  text-align: center;
  color: var(--hover-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.form__section__wrapper small {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--black);
  text-align: center;
  display: block;
  margin: -20px 0 40px;
}

/* .form__section form {
  width: 60%;
  margin: 0 auto;
} */

.form__section label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
}

.form__section input {
  margin-bottom: 20px;
}

.input__wrapper {
  position: relative;
}

.input__wrapper .icon {
  color: var(--black);
  width: 25px;
  aspect-ratio: 1/1;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.checkbox__div {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.checkbox__div input {
  margin-top: 5px;
}

.form__section .btn {
  margin: 30px 0;
}

/* other sign up options */

.sign__up__option__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--black);

  width: 40%;
  margin: -15px auto 0;
  text-align: center;

  display: flex;
  align-items: center;
  gap: 20px;
}

.sign__up__option__text::after,
.sign__up__option__text::before {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: var(--black);
}

.sign__up__options {
  border: 1px solid var(--black);
  width: 50%;
  margin: 15px auto 0;
  padding: 10px;
  border-radius: var(--border-radius-sm);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign__up__options button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.sign__up__options button 

.login__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--black);
}

.sign__container .image__section {
  flex-basis: 34%;
}

.sign__container .image__section img {
  width: 100%;
}
