.sidebar-row {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: var(--border-radius-xl);

    @media(max-width: 768px){
        width: 100px;
    }
}

.sidebar-row:hover {
    background: var(--hover-blue);
    transition: .7s;
}

.sidebar-row .icon {
    font-size: 20px;
    margin-right: 15px;

    @media(max-width: 768px){
        font-size: 10px;
    }
}

.sidebar-row p {
    font-size: 16px;

    
    @media(max-width: 768px){
        font-size: 10px;
    }
}